<%- include('../partials/header') %>
    <title>Admin</title>
  
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash') %>
                <div class="row pt-5">
                    <div class="col-2 offset-5">
                        <a href="/admin/allposts"><button>Manage Posts</button></a>
                    </div>
                    
                </div>
                <div class="row pt-5">
                    <div class="col-2 offset-5">
                        <a href="/admin/allhelps"><button>Manage Help Posts</button></a> 
                    </div>
                    
                </div>
    <%- include('../partials/footer') %>