

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="/post">Post Your Help</a></li>
                        <li><a href="/post/show">View all Posts</a></li>
                        <li><a href="/">Vaccine Details</a></li>
                        <li><a href="/post/sub">Vaccine Alert</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Developed by - <b>Rushikesh Wani</b></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>HelpCamp</h3>
                    <p>HelpCamp is a platform to reach out to those people who are in need of help due to COVID crisis and to get vaccine alerts.</p>
                </div>
                <div class="col item social"><a href="https://www.linkedin.com/in/rushikesh-wani-9537a816a"><i class="icon ion-social-linkedin"></i></a></div>
            </div>
            <p class="copyright">HelpCamp © 2021</p>
        </div>
    </footer>
</div>

<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/4eed7747bd.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/date.js"></script>
</body>

</html>
